[Unit]
Description=nabz bazar bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/gold-alert-bot
EnvironmentFile=/root/gold-alert-bot/.env
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
